<!DOCTYPE HTML>

<htnl>
  <head>
    <title>Fortune Teller</title>
  </head>
  
  <body>
    <h1>GET YOUR FURTUNE HERE</h1>
    <h5>What is your name?</h1>
    
    <form method="POST">
      <input type = "text" name = "user">
    </form>
  </body>
</htnl>